@CHARSET "ISO-8859-1";

/* Dosis font for heading */
@font-face{font-family:'dosis';src:url('../fonts/Dosis-Book.ttf') format(truetype);font-style:normal;font-weight:100;}
@font-face{font-family:'dosis';src:url('../fonts/Dosis-SemiBold.ttf') format(truetype);font-style:normal;font-weight:200;}
@font-face{font-family:'dosis';src:url('../fonts/Dosis-ExtraBold.ttf') format(truetype);font-style:normal;font-weight:300;}
@font-face{font-family:'dosis';src:url('../fonts/Dosis-Bold.ttf') format(truetype);font-style:normal;font-weight:700;}

/* Proxima font for html or body */
@font-face{font-family:'proxima';src:url('../fonts/ProximaNova-Regular.otf') format(opentype);font-style:normal;font-weight:400;}
@font-face{font-family:'proxima';src:url('../fonts/ProximaNova-Regular.otf') format(opentype);font-style:normal;font-weight:500;}
@font-face{font-family:'proxima';src:url('../fonts/ProximaNova-Regular.otf') format(opentype);font-style:normal;font-weight:600;}

html body{font-family:'proxima';font-size:14px;color:#231f20;height:100%;font-weight:400;-webkit-font-smoothing:subpixel-antialiased;text-shadow:0px 0px 1px rgba(0,0,0,.1);display:inline-block;}
h1, h2, h3, h4, h5, h6{font-family:'dosis';color:#231f20;font-weight:200;} p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd{font-family:'proxima';font-size:100%;color:#231f20;font-weight:400;}
input, select, button{font-family:'proxima';font-size:100%;font-weight:400;} ul{list-style-type:none;padding:0;} a{display:inline-block;} a:hover{text-decoration:none;} img{max-width:100%;} .btn{font-family:'proxima';font-weight:400;font-size:13px;}
header, section, footer{position:relative;float:left;width:100%;}
* ===== Sticky Footer Trick ===== */
.wrapper{min-height:100%;height: auto !important; /* for older versions of IE */height:100%;margin-bottom: -173px; /* showing the footer */!padding-top: 50px;padding-bottom: 173px; /* avoiding content go behind the footer */}

.nopadding{padding:0;} .nomargin{margin:0;} .nopt{padding-top:0;} .nopb{padding-bottom:0;} .nopr{padding-right:0;} .nopl{padding-left:0;} .pt10{padding-top:10px;} .pb10{padding-bottom:10px;} .pr10{padding-right:10px;} .pl10{padding-left:10px;} .nomt{margin-top:0;} .nomb{margin-bottom:0;} .nomr{margin-right:0;} .noml{margin-left:0;} .mt10{padding-top:10px;} .mb10{padding-bottom:10px;} .mr10{margin-right:10px;} .ml10{margin-left:10px;}

/* Transitions */
.hover-bg, .hover-bg>.line, .hover-bg>.reviews, .hover-bg>.reviews>p, .restaurant>.restaurant-box, .deals>.deal-box, .restaurant-box:hover .hover-bg, .deal-box:hover .hover-bg,.restaurant-box:hover .restaurant-name, .restaurant-box .restaurant-name{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;}

/*>>>>>>> HEADER <<<<<<<*/
.custom-navbar{min-height:70px;border:0;border-radius:0;background-color:#edead9;margin-bottom:0;height:70px;z-index:999;} #custom-navbar-header{text-align:center;display:block;float:none;} #custom-navbar-header>a.navbar-brand{padding:0;float:none;padding-left:100px;padding-top:2px;}#custom-navbar-header>a.navbar-brand>img{display:inline-block;} .city{float:right;top:50px;position:relative;display:inline-block;}

/*>>>>>>> SECTION <<<<<<<*/
/* Banner */
.banner{background:url(../images/banner.jpg);background-size:cover;background-position:center;max-height:600px;height:600px;}
.searchbar{text-align:center;position:absolute;top:45%;padding:0;-webkit-box-shadow: 0px 0px 39px 18px rgba(0,0,0,0.6);-moz-box-shadow: 0px 0px 39px 18px rgba(0,0,0,0.6);box-shadow: 0px 0px 39px 18px rgba(0,0,0,0.6);} .searchbar-feild{height:55px;border-radius:0;border:0;font-family:'proxima';font-size:1.438em;} .border-right{border-right:2px solid #797979;} .searchbar>form>.form-group{margin-bottom:0;} .find-deals{background:#ff3c31;text-align:center;text-transform:uppercase;color:#fff;width:100%;font-size:1.125em;} .find-deals:hover{color:#fff;background:#E73A30;}
 
/* Featured */
.restaurant>h1{text-align:center;font-weight:700;margin:50px auto;} .restaurant-image, .deals-image{height:275px;position:relative;max-height:275px;overflow:hidden;text-align:center;border:1px solid #ccc;background:#f4f4f4;display:flex;display:-webkit-box;display:moz-box-flex;display:-ms-flexbox;flex-direction:column;justify-content:center;-webkit-box-align:center;-webkit-box-pack:center;} 
.restaurant-image>img, .deals-image>img{max-height:100%;} .restaurant-name, .deal-name{font-size:18px;font-weight:400;padding:5px;} .restaurant>.restaurant-box, .deals>.deal-box{padding:5px;cursor:pointer;} .restaurant-box:hover .hover-bg, .deal-box:hover .hover-bg{left:0;} .restaurant-box:hover .hover-bg>.reviews, .deal-box:hover .hover-bg>.reviews{transform:rotate(45deg);-webkit-transition:all .8s ease-in-out;box-shadow:0px 0px 21px 4px rgba(0,0,0,.6);-webkiy-box-shadow:0px 0px 21px 4px rgba(0,0,0,.6);-moz-box-shadow:0px 0px 21px 4px rgba(0,0,0,.6);} 
.restaurant-box:hover .hover-bg>.reviews>p, .deal-box:hover .hover-bg>.reviews>p{transform:rotate(-45deg);-webkit-transition:all .9s ease-in-out;-moz-transition:all .9s ease-in-out;-ms-transition:all .9s ease-in-out;-o-transition:all .9s ease-in-out;} .restaurant-box:hover .hover-bg>.line, .deal-box:hover .hover-bg>.line{width:100%;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;}
.restaurant-box:hover .restaurant-name, .deal-box:hover .deal-name{color:#ff3c31;} .restaurant-box>a, .deal-box>a{width:100%;}
.hover-bg{background:rgba(61,61,61,.8);height:100%;width:100%;position:absolute;left:-100%;top:0;display:flex;display:-webkit-box;display:moz-box-flex;display:-ms-flexbox;flex-direction:column;justify-content:center;-webkit-box-align:center;-webkit-box-pack:center;} 
.hover-bg>.line{border-top:3px solid #fff;position:absolute;top:50%;width:0px;left:0;} .hover-bg>.reviews{background-color:#fff;width:84px;height:84px;position:relative;display:flex;display:-webkit-box;display:moz-box-flex;display:-ms-flexbox;flex-direction:column;justify-content:center;-webkit-box-align:center;-webkit-box-pack:center;}
.hover-bg>.reviews>p{color:#ff3c31;font-weight:400;font-size:16px;line-height:20px;} .hover-bg>.reviews>p>span{font-size:30px;} 
.bg-blogs { background: #485479 !important;}
.menu-boxes>a.bg-blogs {
    background: #b68992 !important;
}
/*>>>>>>> FOOTER <<<<<<<*/
.footer-bg{background:#3d3d3d;padding:20px 0;} .zone {padding:0 5px;} .zone>h3{color:#2caab6;font-size:20px;font-weight:200;} .zone>ul>li{color:#fff;padding:5px 0;}

/* Copyright */
.copyright{background:#232323;text-align:center;} .copyright>p{color:#a4a3a3;font-size:11px;padding:10px 0;margin-bottom:0;}