/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}
.nopadding{
	padding:0;
}

.profile-info{
	vertical-align: middle;
}
.login-language{
	margin:0;
	padding:4px 12px;
	text-align:left;
}
#errormsg img{
	width:100%;
	height:auto;
	max-width:100%;
}
.login-page .login-header{
	padding: 35px 0;
}
.inputwidth{
	width: 200px;
	display: inline-block;

}

#uploaderrormsg{
	float: left;
	height: 160px;
	max-height: 160px;
	overflow:hidden;
}

#uploaderrormsg img{
	max-width: 100%;
	max-height:100%;
}
.maginbutton{
	margin-bottom: 10px;
}
.mb10{
	margin-bottom: 10px
}
.mt10{
	margin-top: 10px;
}
.custom-logo {
	width: 140px;
}
.custom-logo a img {
	max-width: 100%;
	max-height: 100%;
}
#main-menu li a {
	height: 41px;
}
#main-menu li a i, #main-menu li a span {
	vertical-align: sub;
}
.btn-collapse {
	margin-top: 4px;
}
.valError{
	color: red;
}
.linkmargin{
	margin-left: 20px;
    cursor: pointer;
    color: #147fce;
}
