@charset "ISO-8859-1"; 

@font-face {
	font-family: 'segoe';
	src: url('../fonts/segoeuil.eot');
	src: url('../fonts/segoeuil.woff') format('woff'), 
		 url('../fonts/segoeuil.ttf') format('truetype'), 
		 url('../fonts/segoeuil.svg') format('svg');
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: 'segoe';
	src: url('../fonts/segoeuisl.eot');
	src: url('../fonts/segoeuisl.woff') format('woff'), 
		 url('../fonts/segoeuisl.ttf') format('truetype'), 
		 url('../fonts/segoeuisl.svg') format('svg');
	font-weight: 200;
	font-style: normal;
	font-weight: 200
}

@font-face {
	font-family: 'segoe';
	src: url('../fonts/segoe-ui-italic.eot');
	src: url('../fonts/segoe-ui-italic.woff') format('woff'), 
		 url('../fonts/segoe-ui-italic.ttf') format('truetype'), 
		 url('../fonts/segoe-ui-italic.svg') format('svg');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'segoe';
	src: url('../fonts/segoeui.eot');
	src: url('../fonts/segoeui.woff') format('woff'), 
		 url('../fonts/segoeui.ttf') format('truetype'), 
		 url('../fonts/segoeui.svg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'segoe';
	src: url('../fonts/seguisb.eot');
	src: url('../fonts/seguisb.woff') format('woff'), 
		 url('../fonts/seguisb.ttf') format('truetype'), 
		 url('../fonts/seguisb.svg') format('svg');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'bodebeck';
	src: url(../fonts/Bodebeck-LT-Std-Extra-Bold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal
}

html, body {
	font-famil: 'segoe ui';
	font-family: 'segoe';
	font-weight: 400;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 15px;
	font-size: 1em;
	font-size: 1.1vw;
	color: #181818;
	height: 100%;
	height: auto;
	font-weight: 200;
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow: 0 0 1px rgba(0, 0, 0, .1);
	display: inline-block;
	width: 100%
}

body {
	background: #f2f2f2
}

button:active, button:hover, button:focus, button:visited {
	background: transparent
}

h1, h2, h3, h4, h5, h6 {
	font-famil: 'segoe ui';
	font-family: 'segoe';
	color: #181818;
	font-weight: 400;
	letter-spacing: .222px
}

h1 {
	font-size: 45px;
	font-size: 3em;
	font-size: 3.29vw
}

h2 {
	font-size: 36px;
	font-size: 2.4em;
	font-size: 2.64vw
}

h3 {
	font-size: 22px;
	font-size: 1.467em;
	font-size: 1.61vw
}

h4 {
	font-size: 18px;
	font-size: 1.2em;
	font-size: 1.32vw
}

p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
	font-famil: 'segoe ui';
	font-family: 'segoe';
	font-size: 15px;
	font-size: 1em;
	font-size: 1.1vw;
	color: #181818;
	font-weight: 400;
	font-style: normal;
	word-wrap: break-word;
	letter-spacing: .222px
}

input, select, button {
	font-famil: 'segoe ui';
	font-family: 'segoe';
	font-size: 100%;
	font-weight: 400
}

ul {
	list-style-type: none;
	padding: 0
}

a, span {
	display: inline-block
}

a:hover {
	text-decoration: none
}

img {
	max-width: 100%
}

.btn {
	font-famil: 'segoe ui';
	font-family: 'segoe';
	font-weight: 400;
	border-radius: 0;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease
}

header, section, footer {
	position: relative;
	float: left;
	width: 100%
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -178px; !
	padding-top: 50px;
	padding-bottom: 178px;
	position: relative;
	width: 100%;
	float: left;
	display: inline-block;
	top: -55px
}

.nopadding {
	padding: 0
}

.nomargin {
	margin: 0
}

.nopt {
	padding-top: 0
}

.nopb {
	padding-bottom: 0
}

.nopr {
	padding-right: 0
}

.nopl {
	padding-left: 0
}

.pt10 {
	padding-top: 10px
}

.pb10 {
	padding-bottom: 10px
}

.pr10 {
	padding-right: 10px
}

.pl10 {
	padding-left: 10px
}

.nomt {
	margin-top: 0
}

.nomb {
	margin-bottom: 0
}

.nomr {
	margin-right: 0
}

.noml {
	margin-left: 0
}

.mt10 {
	margin-top: 10px
}

.mb10 {
	margin-bottom: 10px
}

.mr10 {
	margin-right: 10px
}

.ml10 {
	margin-left: 10px
}

.main_holder_div {
	padding-top: 165px !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: center top !important;
	cursor: pointer
}

div.layout-holder {
	display: inline-block;
	float: none;
	-webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid #003048;
	background-color: #fff;
	-webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
	cursor: auto
}

#custom-navbar {
	background: rgba(255, 255, 255, 0);
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
	z-index: 99
}

#custom-navbar .nav li a {
	display: inline-block;
	padding: 15px 10px
}

.language {
	height: 26px;
	font-size: 1em;
	padding: 1px 5px
}

.menu, .right-link {
	position: absolute
}

.menu {
	left: 0
}

.right-link {
	right: 0;
	top: 0
}

.logo {
	text-align: center;
	width: 100%;
	position: relative;
	float: left
}

.logo>.navbar-brand {
	font-family: 'bodebeck';
	font-weight: 600;
	font-size: 2em;
	float: none;
	padding: 5px 0
}

.logo>.navbar-brand>img {
	max-height: 100% !important
}

.custom-menu {
	background: #202534; !
	min-height: 655px; !
	max-height: 655px;
	height: 100%;
	overflow-y: visible;
	float: left
}

.custom-menu.in {
	overflow-x: auto
}

.left-menu>li>a {
	padding: 15px;
	color: #fff;
	width: 100%;
	font-size: .867em
}

.left-menu>li>a:hover, .left-menu>li.active>a {
	background: #485479
}

.main {
	position: absolute;
	right: 0;
	top: 0; !
	float: Left; !
	width: 89.79%
}

.banner-bg {
	background: #000 url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 642px
}

.banner {
	text-align: center;
	padding: 50px 0
}

.banner>h1 {
	font-weight: 100
}

.banner>.embed-responsive {
	margin-top: 40px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	width: 600px;
	height: 350px;
	margin-left: auto;
	margin-right: auto
}

.show-flag {
	background-position: left !important;
	background-repeat: no-repeat !important;
	padding-left: 30px
}

.how-it-works {
	padding: 30px 0 50px;
	text-align: center;
	background: #fff
}

.how-it-works h2 {
	font-weight: 100;
	margin-bottom: 30px
}

.steps {
	margin: 10px 0
}

.steps>span.badge {
	background: #0690cf;
	position: relative;
	float: left;
	margin-left: 25px
}

.steps>span.icon {
	background: url(../images/how-it-works-sprite.png) no-repeat;
	height: 115px;
	width: 90px;
	display: inline-block
}

.steps>span.invoice {
	background-position: -12px 0
}

.steps>span.upload {
	background-position: -146px 0
}

.steps>span.refund {
	background-position: -284px 0
}

.gallery-bg {
	padding: 50px 0 20px;
	background-color: #f1f1f1
}

.gallery {
	min-height: 476px;
	max-height: 476px;
	overflow: hidden;
	margin: 15px 0
}

.gallery:nth-child(4), .gallery:nth-child(7), .gallery:nth-child(10) {
	clear: both
}

.gallery>span {
	width: 100%;
	min-height: 194px;
	max-height: 194px;
	overflow: hidden;
	text-align: center;
	margin-bottom: -5px;
	line-height: 186px;
	border: 1px solid #ccc
}

.gallery>span>img {
	max-height: 100%
}

.gallery>.detail {
	min-height: 282px;
	max-height: 282px;
	overflow: hidden;
	background: #fff;
	padding: 15px
}

.detail>p.small {
	font-size: .8em;
	font-weight: 400;
	color: #136bfc;
	text-transform: uppercasse
}

.detail>h4 {
	font-weight: 500;
	text-transform: uppercase
}

.detail span {
	color: #908e8e;
	font-weight: 300;
	font-size: .867em;
	margin-bottom: 15px
}

.detail>p {
	color: #3b3b3b
}

.gallery>.detail:before {
	content: '';
	position: absolute;
	left: 10%;
	bottom: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: transparent transparent #fff;
	-webkit-transform: rotate(360deg)
}

.see-all-idea {
	margin: 30px 0
}

.default-btn {
	background: transparent;
	border: 2px solid #242B3F;
	font-weight: 200
}

.default-btn:hover {
	background: #242B3F;
	color: #fff
}

.default-btn:active, .default-btn:focus {
	background: #384361;
	color: #fff
}

.available-now-bg {
	background: #fff;
	padding: 50px 0 0
}

.available-now h2 {
	font-weight: 100;
	margin-bottom: 20px
}

.available-now span { !
	width: 180px; !
	height: 61px; !
	background: url(../images/download-sprite.png) no-repeat;
	display: inline-block;
	margin: 10px 15px 10px 0
}

.available-now span.apple { !
	background-position: 0 0
}

.available-now span.android { !
	background-position: -203px 0
}

.testmonials-bg {
	padding: 30px 0;
	background-color: #f1f1f1
}

.testmonials-bg>.container {
	width: 785px
}

.testmonials-bg h2 {
	font-weight: 100;
	margin-bottom: 20px
}

.testimonials {
	min-height: 420px;
	max-height: 420px;
	overflow: hidden;
	margin: 20px 0
}

.testimonials span.test-img-holder {
	display: inline-block;
	text-align: center;
	max-height: 220px;
	min-height: 220px;
	overflow: hidden;
	float: left;
	background: #fff;
	margin-bottom: 10px;
	width: 100%
}

.test-modal-img {
	float: left;
	max-height: 200px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 5px;
	border: 2px solid #242B3F
}

.test-modal-img>img {
	max-height: 100%
}

.test-modal-name {
	color: #0690cf
}

.test-modal-name>small {
	color: #181818
}

.ideas-modal-img-bg {
	background: #f8f8e4;
	max-height: 355px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #ECECDA
}

.ideas-modal-img-bg>img {
	max-height: 100%
}

.testimonials span.test-img-holder>img {
	width: 100%
}

.testimonials span:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 5%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent transparent #0790cf;
	-webkit-transform: rotate(360deg)
}

.testimonials .content {
	background: #0790cf;
	padding: 8px
}

.testimonials .content p {
	color: #fff;
	font-size: .933em; !
	max-height: 120px; !
	overflow: hidden;
	text-overflow: ellipses
}

.content p:last-child {
	clear: both;
	font-weight: 500;
	margin-bottom: 0
}

.content p em {
	color: #fff;
	font-weight: 300;
	font-style: italic
}

.testimonials .content blockquote, .testimonials .content blockquote footer
	{
	color: #fff
}

.footer-bg {
	background: #8e8e8e;
	padding: 25px 0 0
}

p.follow-us {
	display: inline-block;
	float: left
}

span.social-icon-holder {
	margin-left: 10px
}

.social-icon {
	background: url(../images/social-icons.png) no-repeat;
	width: 26px;
	height: 27px;
	background-size: 100px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle
}

.fb {
	background-position: 0 0
}

.tw {
	background-position: -37px 0
}

.yt {
	background-position: -74px 0
}

#signup-login .modal-header {
	border: 0
}

#custom-tabs {
	border: 0
}

#custom-tabs>li.active>a, #custom-tabs>li.active>a:focus, #custom-tabs>li.active>a:hover,
	#custom-tabs>li.active>a:active {
	border: 0;
	border-bottom: 4px solid #0790cf;
	color: #181818
}

#custom-tabs>li>a {
	color: #797979;
	font-weight: 200
}

#custom-tabs>li>a:focus, #custom-tabs>li>a:hover, #custom-tabs>li>a:active
	{
	border-color: #f4f4f4;
	background: #f4f4f4
}

#signup span>a.social-signup, #login span>a.social-signup, .social-share
	{
	border: 0;
	color: #fff
}

#signup span {
	width: 100%;
	margin: 8px 0
}

#signup h3 {
	margin-top: 0
}

#signup h4>span {
	color: #0790cf;
	width: auto
}

#signup span>a.connect-fb, #login span>a.connect-fb, .share-fb {
	background: #4c68a1
}

#signup span>a.connect-tw, #login span>a.connect-tw, .share-tw {
	background: #55acee
}

#signup .or {
	margin: 30px 0;
	text-align: center;
	position: relative
}

#signup p.or:before, #signup p.or:after {
	content: '';
	position: absolute;
	border-top: 1px solid #ccc;
	top: 50%;
	width: 43%;
	top: 50%;
	-webkit-transform: translateY(50%)
}

#signup p.or:after {
	left: 54%
}

#signup p.or:before {
	right: 54%
}

.content-holder { !
	display: -webkit-box; !
	display: -moz-box; !
	display: -ms-flexbox; !
	display: -webkit-flex; !
	display: flex;
	overflow: hidden
}

.left-menu-holder::-webkit-scrollbar {
	width: 7px;
	height: 100%
}

.left-menu-holder::-webkit-scrollbar-thumb {
	background: #a5a5a5
}

.left-menu-holder::-webkit-scrollbar-track {
	background: #eee
}

.left-menu-holder {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	scrollbar-face-color: #797979;
	scrollbar-track-color: #eee;
	background: #242B3F;
	overflow-y: visible
}

.for-translate {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	-o-transform: translateX(25%);
	transform: translateX(25%)
}

.left-menu-holder.in { !
	overflow-x: auto
}

.user-info {
	background: #0690cf;
	padding: 15px 5px 5px
}

.user-profile>span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	overflow: hidden;
	border: 7px solid #28b8fa;
	behavior: url(border-radius.htc)
}

.user-profile>span>img {
	min-height: 100%;
	max-height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%
}

.user-profile>h4 {
	font-size: 1em;
	color: #fff
}

.user-profile>p {
	font-size: .867em;
	color: #fff
}

.user-profile>p>span {
	background: url(../images/dash-menu-icons-sprite.png) no-repeat;
	width: 22px;
	height: 22px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle
}

.user-profile>p>span.email {
	background-position: -11px -11px
}

.user-profile>p>span.phone {
	background-position: -11px -46px
}

.profile-edit-opt {
	background: #026d9d
}

.required {
	color: red
}

.profile-edit-opt>span, .profile-edit-opt>span:hover {
	color: #fff;
	padding: 8px
}

.dash-menu-tabs {
	background: #2d3756;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkMzc1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDJiM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #2d3756 0%, #242b3f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d3756),
		color-stop(100%, #242b3f));
	background: -webkit-linear-gradient(top, #2d3756 0%, #242b3f 100%);
	background: -o-linear-gradient(top, #2d3756 0%, #242b3f 100%);
	background: -ms-linear-gradient(top, #2d3756 0%, #242b3f 100%);
	background: linear-gradient(to bottom, #2d3756 0%, #242b3f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d3756',
		endColorstr='#242b3f', GradientType=0)
}

.dash-menu>li {
	border-bottom: 1px solid #485479
}

.dash-menu>li>a {
	padding: 12px;
	color: #fff;
	font-size: .867em;
	width: 100%
}

.dash-menu>li.active {
	background: #485479
}

.myblog, .passport {
	margin-right: 5px
}

.dash-menu>li>a>span {
	background: url(../images/dash-menu-icons-sprite.png) no-repeat;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	float: left
}

.dash-menu>li>a>span.dash {
	background-position: -9px -153px
}

.dash-menu>li>a>span.info {
	background-position: -9px -195px
}

.dash-menu>li>a>span.doc {
	background-position: -9px -235px
}

.dash-menu>li>a>span.miles {
	background-position: -9px -276px
}

.dash-menu>li>a>span.wishes {
	background-position: -9px -318px
}

.dash-menu>li>a>span.acc {
	background-position: -9px -358px
}

.dash-menu>li>a>span.sponsor {
	background-position: -9px -399px
}

.dash-menu>li>a>span.trip {
	background-position: -9px -439px
}

.dash-menu>li>a>span.pwd {
	background-position: -9px -481px
}

.dash-menu>li>a>span.notfn {
	background-position: -9px -521px
}

.dash-menu>li>a>span.delete {
	background-position: -9px -563px
}

.dash-menu>li>a>span.help {
	background-position: -9px -604px
}

.dash-content-holder {
	transition: all 300ms linear;
	background: #f2f2f2;
	overflow-x: hidden;
	padding: 15px;
	min-height: 902px; !
	flex: 3
}

.dash-content-holder::-webkit-scrollbar {
	width: 7px;
	height: 100%
}

.dash-content-holder::-webkit-scrollbar-thumb, .dash-content-holder::-moz-scrollbar-thumb:vertical
	{
	background: transparent
}

.dash-content-holder::-webkit-scrollbar-track, .dash-content-holder::-moz-scrollbar-track-piece
	{
	background: transparent
}

.dash-content-holder {
	scrollbar-face-color: #797979;
	scrollbar-track-color: #eee
}

.panel-bg {
	background: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #ddd
}

.panel-bg>h4>span {
	background: url(../images/dash-menu-lg-icons-sprite.png) no-repeat;
	width: 48px;
	height: 35px;
	display: inline-block;
	vertical-align: middle
}

.blog-content-panel {
	margin: 10px 0;
	background: #D4D4D4;
	border: 2px solid #D4D4D4
}

.blog-content-panel>h4 {
	color: #0690cf;
	padding: 0 15px
}

.blog-info {
	background: #efefef
}

.blog-content {
	background: #fff;
	padding: 10px 15px
}

.dashboard .dashboard-icon {
	background-position: 0 -7px
}

.personal-information .info-icon {
	background-position: -3px -41px
}

.add-documents .documents-icon, .documents .documents-icon {
	background-position: -2px -76px
}

.bank-account .bank-account-icon {
	background-position: 0 -200px
}

.next-trip .next-trip-icon {
	background-position: -10px -280px
}

.easy-miles .easy-miles-icon {
	background-position: 0 -116px
}

.change-pswd .pwd-icon {
	background-position: -3px -322px
}

.notifications .notifications-icon {
	background-position: 0 -363px
}

.delete-ac .delete-ac-icon {
	background-position: 0 -405px
}

.doc-status>h4 {
	background: #66bb6a;
	color: #fff;
	display: inline-block;
	font-weight: 200;
	font-size: 15px;
	padding: 5px 8px
}

.status-slider {
	margin-top: 20px
}

.personal-info-form .form-group>label {
	font-weight: 200
}

.save-btn {
	background: transparent;
	border: 2px solid #0690cf;
	color: #0690cf;
	font-weight: 400
}

.save-btn:hover, .save-btn:active, .save-btn:focus, .save-btn:focus:active
	{
	background: #0690cf;
	color: #fff;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease
}

.documents>h3 {
	margin-top: 0
}

.doc-tabs-holder {
	margin-top: 30px
}

.add-doc-btn {
	background: transparent;
	border: 2px solid #252d42;
	font-weight: 400
}

.sponsorships-bx .sp-img {
	min-height: 191px;
	max-height: 191px;
	overflow: hidden
}

.spon-share {
	background: url(../images/social-icons.png) no-repeat;
	background-size: 90px;
	width: 24px;
	text-indent: -999px;
	height: 25px
}

.spon-fb {
	background-position: 0 0
}

.spon-tw {
	background-position: -33px 0
}

.sponsorships-bx {
	margin: 10px 0;
	border: 1px solid #ccc;
	padding: 5px;
	min-height: 254px;
	max-height: 330px;
	overflow: hidden
}

.sponsorships-bx h4 {
	font-size: 17px
}

.sponsorships-bx p {
	color: #337ab7
}

.documents-lists>table {
	border: 1px solid #485479
}

.documents-lists>table>thead>tr>td {
	background: #485479;
	color: #fff;
	border-color: #485479
}

.documents-lists>table>thead>tr>td:first-child { !
	max-width: 30px
}

.documents-lists>table>tbody>tr>td, .documents-lists>table>tbody>tr>td>a
	{
	border-color: #ddd;
	font-weight: 400;
	font-size: 13px
}

.documents-lists>table>tbody>tr>td>a {
	color: #337ab7;
	text-decoration: underline
}

.documents-lists>table>tbody>tr>td:first-child {
	border-left-color: #485479;
	text-align: right
}

.documents-lists>table>tbody>tr>td:last-child {
	border-right-color: #485479
}

.documents-lists>table>tbody>tr:last-child td {
	border-bottom-color: #485479
}

.doc-table-hd {
	border: 1px solid #485479;
	padding: 10px;
	margin-top: 20px
}

.doc-table-hd>h4 {
	margin: 0
}

.passport-detail-form {
	margin-top: 20px
}

.passport-detail-form .form-group select.validity {
	display: inline-block;
	width: initial
}

.passport-detail-form .form-group select.month {
	margin-right: 15px
}

.passport-detail-form .form-group .col-sm-9 select.month:after {
	content: '/';
	position: absolute;
	left: 104%
}

form .form-group>label {
	font-weight: 200
}

.you-have-em>h3 {
	margin-top: 0
}

.you-have-em>h3>span {
	color: #0690cf;
	font-weight: 100;
	font-size: 4em
}

.em-calculator {
	background: #f1f1f1;
	padding: 12px
}

.mt5 {
	margin-top: 5px
}

.equalsto-sign:before {
	content: '=';
	position: absolute;
	right: 93%;
	top: 27%;
	font-size: 35px
}

.flip-container {
	perspective: 1000px
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg)
}

.flip-container, .front, .back {
	overflow: hidden;
	text-overflow: elipses;
	width: 100%;
	height: 315px;
	max-height: 315px
}

.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	position: relative
}

.front>span {
	width: 100%;
	height: 280px;
	max-height: 280px
}

.front>span>img {
	max-height: 100%
}

.front, .back {
	border: 1px solid #ccc;
	padding: 8px;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0
}

.front {
	text-align: center;
	z-index: 2;
	transform: rotateY(0deg)
}

.back {
	background: #f4f4f4;
	transform: rotateY(180deg)
}

.no-gift-bx {
	padding: 1rem;
	border: 1px solid #ccc;
	background: #f8f8f8;
	color: blue;
	text-align: center;
	margin: 15px 0
}

.em-products>span {
	width: 100%;
	max-height: 100px;
	overflow: hidden;
	height: 100px;
	line-height: 95px;
	text-align: center;
	border: 1px solid #a5a5a5; !
	padding: 5px
}

.em-products>p {
	font-size: 13px
}

.notification-block {
	margin-bottom: 10px;
	border-bottom: 1px solid #bbb
}

.nexttrip-lists>table {
	border: 1px solid #485479
}

.nexttrip-lists>table>thead>tr>td {
	background: #485479;
	color: #fff;
	border-color: #485479
}

.nexttrip-lists>table>thead>tr>td:first-child {
	max-width: 50px;
	width: 50px
}

.nexttrip-lists>table>tbody>tr>td, .nexttrip-lists>table>tbody>tr>td>a {
	border-color: #ddd;
	font-weight: 400;
	font-size: 13px
}

.nexttrip-lists>table>tbody>tr>td>a {
	color: #337ab7;
	text-decoration: underline
}

.nexttrip-lists>table>tbody>tr>td:first-child {
	border-left-color: #485479;
	text-align: right
}

.nexttrip-lists>table>tbody>tr>td:last-child {
	border-right-color: #485479
}

.nexttrip-lists>table>tbody>tr:last-child td {
	border-bottom-color: #485479
}

.nexttrip-table-hd {
	border: 1px solid #485479;
	padding: 10px;
	margin-top: 20px
}

.nexttrip-table-hd>h4 {
	margin: 0
}

.menu-boxes {
	margin: 10px 0
}

.menu-boxes>a {
	width: 100%;
	height: auto;
	background: #212121;
	padding: 30px 15px
}

.menu-boxes>a.bg-info {
	background: #f4511e
}

.menu-boxes>a.bg-doc {
	background: #ffd54f
}

.menu-boxes>a.bg-em {
	background: #00c853
}

.menu-boxes>a.bg-wishes {
	background: #039be5
}

.menu-boxes>a.bg-bank {
	background: #ff4081
}

.menu-boxes>a.bg-spon {
	background: #9575cd
}

.menu-boxes>a.bg-trip {
	background: #66bb6a
}

.menu-boxes>a.bg-pwd {
	background: #d81b60
}

.menu-boxes>a.bg-notfn {
	background: #f33
}

.menu-boxes>a.bg-delete {
	background: #b68992
}

.menu-boxes>a.bg-help {
	background: #f4511e;
	background: #00959d
}

.menu-boxes>a>p {
	color: #fff
}

.menu-boxes>a>p>span {
	background: url(../images/menu-boxes-icon-sprite.png) no-repeat;
	width: 90px;
	height: 52px;
	margin-bottom: 10px
}

.menu-boxes .bx-info-icon {
	background-position: -126px -39px
}

.menu-boxes .bx-docs-icon {
	background-position: -234px -39px
}

.menu-boxes .bx-em-icon {
	background-position: -329px -39px
}

.menu-boxes .bx-wishes-icon {
	background-position: -423px -39px
}

.menu-boxes .bx-bankac-icon {
	background-position: -519px -39px
}

.menu-boxes .bx-spons-icon {
	background-position: -627px -39px
}

.menu-boxes .bx-nexttrip-icon {
	background-position: -748px -39px
}

.menu-boxes .bx-paswd-icon {
	background-position: -859px -39px
}

.menu-boxes .bx-notifn-icon {
	background-position: -953px -39px
}

.menu-boxes .bx-deleteac-icon {
	background-position: -1048px -39px
}

.menu-boxes .bx-help-icon {
	background-position: -1146px -39px
}

.steps-name {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around
}

.steps-name>label {
	padding: 4px;
	border: 2px solid #616161;
	position: relative;
	min-width: 100px;
	max-width: 100px;
	word-wrap: break-word;
	text-align: center;
	font-size: 13px;
	font-weight: 200
}

.steps-name>label:after {
	content: '';
	position: absolute;
	left: 40%;
	top: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0;
	border-color: #616161 transparent transparent
}

.status-bar {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #b0bec5;
	height: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin: 20px 0;
	display: -ms-flexbox;
	display: -webkit-flex
}

.status-bar>.round-step {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #b0bec5;
	width: 22px;
	height: 22px;
	-webkit-transform: translateY(-41%);
	-moz-transform: translateY(-41%);
	-ms-transform: translateY(-41%);
	-o-transform: translateY(-41%);
	transform: translateY(-41%)
}

.status-bar>.round-step.active {
	background: #880e4f
}

.active-status-bar {
	width: 50%;
	background: #880e4f;
	height: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	left: 0;
	position: absolute
}

.active-status-bar>.indicator {
	color: #fff;
	background: #d81b60;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 21px;
	font-weight: 500;
	text-align: center;
	position: absolute;
	left: 98%;
	-webkit-transform: translateY(-41%);
	-moz-transform: translateY(-41%);
	-ms-transform: translateY(-41%);
	-o-transform: translateY(-41%);
	transform: translateY(-41%)
}

.active-status-bar>.dash-notifications {
	margin-top: 20px
}

.dash-notifications .notifications-icon {
	background-position: 0 -363px
}

.footer-link>li {
	float: left;
	width: 50%
}

.footer-link>li>a {
	color: #fff;
	padding: 5px 0
}

.footer-download p:first-child {
	color: #181818
}

.footer-download p {
	color: #fff
}

.footer-download span {
	display: inline-block;
	margin: 10px 15px 10px 0
}

.footer-download span.apple { !
	background-position: 0 0
}

.footer-download span.android { !
	background-position: -203px 0
}

.copyright {
	margin: 20px 0 10px
}

.copyright small, .copyright small a {
	color: #fff
}

@media ( max-width :1200px) {
	.banner>.embed-responsive { !
		width: 100%
	}
}

@media ( max-width :1024px) {
	html, body {
		font-size: 1em;
		font-size: 1.46vw
	}
	h1 {
		font-size: 3em;
		font-size: 3.91vw
	}
	h2 {
		font-size: 2.4em;
		font-size: 3.13vw
	}
	h3 {
		font-size: 1.467em;
		font-size: 1.95vw
	}
	h4 {
		font-size: 1.2em;
		font-size: 1.56vw
	}
	p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
		font-size: 1.46vw
	}
	h4.follow-us {
		display: block;
		float: none
	}
	.for-translate {
		-webkit-transform: translateX(30%);
		-moz-transform: translateX(30%);
		-ms-transform: translateX(30%);
		-o-transform: translateX(30%);
		transform: translateX(30%)
	}
	span.social-icon-holder {
		margin: 0
	}
	.user-profile>span {
		width: 100px;
		height: 100px
	}
	.content-holder { !
		display: -webkit-inline-box; !
		display: -moz-inline-box; !
		display: -ms-inline-flexbox
	}
	.left-menu-holder {
		width: 30%
	}
}

@media ( max-width :990px) {
	html, body {
		font-size: 1em;
		font-size: 1.46vw
	}
	h1 {
		font-size: 3em;
		font-size: 3.91vw
	}
	h2 {
		font-size: 2.4em;
		font-size: 3.13vw
	}
	h3 {
		font-size: 1.467em;
		font-size: 1.95vw
	}
	h4 {
		font-size: 1.2em;
		font-size: 1.56vw
	}
	p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
		font-size: 1.46vw
	}
	.testmonials-bg>.container {
		width: auto
	}
	.gallery:nth-child(4), .gallery:nth-child(7), .gallery:nth-child(10) {
		clear: inherit
	}
	.main_holder_div {
		-webkit-background-size: cover !important;
		-moz-background-size: contain !important;
		-o-background-size: contain !important;
		background-size: contain !important;
		padding-top: 95px !important
	}
}

@media ( max-width :768px) {
	.for-translate {
		-webkit-transform: translateX(35%);
		-moz-transform: translateX(35%);
		-ms-transform: translateX(35%);
		-o-transform: translateX(35%);
		transform: translateX(35%)
	}
	.available-now span {
		margin: 10px 3px 10px 0
	}
	.left-menu-holder {
		width: 35%
	}
}

@media ( max-width :768px) {
	html, body {
		font-size: 1em;
		font-size: 1.82vw
	}
	h1 {
		font-size: 3em;
		font-size: 4.69vw
	}
	h2 {
		font-size: 2.4em;
		font-size: 3.65vw
	}
	h3 {
		font-size: 1.467em;
		font-size: 2.34vw
	}
	h4 {
		font-size: 1.2em;
		font-size: 1.95vw
	}
	p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
		font-size: 1.82vw
	}
}

@media ( max-width :767px) {
	.xs-nopadding {
		padding: 0
	}
	.xs-clearfix {
		clear: both
	}
	.xs-block {
		display: block
	}
	.xs-center {
		text-align: center
	}
	.xs-pull-left {
		float: left
	}
	.xs-pull-right {
		float: right
	}
	.xs-pull-none {
		float: none
	}
	.xs-mt-mb10 {
		margin: 10px 0
	}
	.for-translate {
		-webkit-transform: translateX(30%);
		-moz-transform: translateX(30%);
		-ms-transform: translateX(30%);
		-o-transform: translateX(30%);
		transform: translateX(30%)
	}
	.bank-account form .form-group, .change-pswd-form form .form-group,
		.delete-ac-form form .form-group {
		margin: 0;
		margin-bottom: 15px;
	}
	.sponsorships-bx {
		min-height: auto
	}
	.dash-content-holder {
		padding: 15px 10px
	}
	.documents-lists {
		border: 0
	}
	#custom-navbar .logo {
		float: none;
		margin: 0
	}
	.navbar-toggle {
		margin-right: 0
	}
	#signup span>a.social-signup, #login span>a.social-signup {
		margin: 10px 0
	}
	.right-link {
		position: relative
	}
	#custom-navbar .nav li a.menu-btn {
		padding: 10px 0px
	}
	#custom-navbar .nav li a {
		padding: 10px 15px
	}
	.navbar-nav {
		margin: 0 -15px 7.5px
	}
	.wrapper {
		top: 0
	}
	.banner-bg {
		min-height: auto
	}
	.banner>.embed-responsive {
		height: 290px
	}
	.steps>span.badge {
		left: 19%
	}
	span.social-icon-holder {
		margin: 0;
		margin-left: 5px
	}
	.footer-download span {
		margin: 10px 3px 10px 0
	}
	.xs-nopadding {
		padding: 0
	}
	.main_holder_div {
		background: none !important;
		padding-top: 0 !important
	}
	.available-now>.col-sm-6 {
		text-align: center
	}
	.see-all-idea {
		margin: 15px 0
	}
	.how-it-works {
		padding: 30px 0 20px
	}
	.menu {
		top: 6px;
		padding-left: 15px
	}
	.user-profile>span {
		width: 100px;
		height: 100px;
		border: 5px solid #28b8fa
	}
	.content-holder {
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox
	}
	.left-menu-holder {
		width: 30%
	}
	.personal-info-form .form-group>label, form .form-group>label {
		font-size: 2.04vw
	}
}

@media ( max-width :600px) {
	.banner>.embed-responsive {
		width: 100%
	}
}

@media ( max-width :568px) {
	html, body {
		font-size: 1em;
		font-size: 2.29vw
	}
	h1 {
		font-size: 3em;
		font-size: 5.28vw
	}
	h2 {
		font-size: 2.4em;
		font-size: 3.87vw
	}
	h3 {
		font-size: 1.467em;
		font-size: 3.17vw
	}
	h4 {
		font-size: 1.2em;
		font-size: 2.64vw
	}
	p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
		font-size: 2.29vw
	}
	.left-menu-holder {
		width: 40%
	}
	.for-translate {
		-webkit-transform: translateX(40%);
		-moz-transform: translateX(40%);
		-ms-transform: translateX(40%);
		-o-transform: translateX(40%);
		transform: translateX(40%)
	}
	.testimonials {
		width: 68%;
		float: none;
		margin: 10px auto;
		display: table
	}
	.footer-download a span {
		max-width: 110px
	}
	.social-icon {
		margin-right: 6px
	}
	.tw {
		background-position: -37px 0
	}
	.yt {
		background-position: -74px 0
	}
	.dash-menu>li>a {
		line-height: 202%
	}
	.personal-info-form .form-group>label, form .form-group>label {
		font-size: 2.64vw
	}
}

@media ( max-width :420px) {
	html, body {
		font-size: 1em;
		font-size: 3.1vw
	}
	h1 {
		font-size: 3em;
		font-size: 6.43vw
	}
	h2 {
		font-size: 2.4em;
		font-size: 5.71vw
	}
	h3 {
		font-size: 1.467em;
		font-size: 4.05vw
	}
	h4 {
		font-size: 1.2em;
		font-size: 3.57vw
	}
	p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
		font-size: 3.1vw
	}
	.for-translate {
		-webkit-transform: translateX(53%);
		-moz-transform: translateX(53%);
		-ms-transform: translateX(53%);
		-o-transform: translateX(53%);
		transform: translateX(53%)
	}
	.em-products {
		width: 100%;
		padding: 0
	}
	.gallery {
		min-height: auto
	}
	.gallery>.detail {
		min-height: auto
	}
	.testimonials span.test-img-holder {
		max-height: 186px;
		min-height: 186px;
		overflow: hidden;
		background: #fff;
		margin-bottom: 10px;
		border: 1px solid #ddd
	}
	.testimonials span.test-img-holder>img {
		width: auto;
		max-height: 100%
	}
	.gallery, .footer-follow-us, .footer-download {
		width: 100%
	}
	.gallery-bg {
		padding: 20px 0
	}
	.footer-download a span {
		max-width: 120px
	}
	h4.follow-us {
		margin-top: 0
	}
	.user-profile>span {
		width: 90px;
		height: 90px
	}
	.content-holder {
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox
	}
	.left-menu-holder {
		width: 53%
	}
	.personal-info-form .form-group>label, form .form-group>label {
		font-size: 3.57vw
	}
}

@media ( max-width :320px) {
	html, body {
		font-size: 1em;
		font-size: 4.06vw
	}
	h1 {
		font-size: 3em;
		font-size: 7.5vw
	}
	h2 {
		font-size: 2.4em;
		font-size: 6.25vw
	}
	h3 {
		font-size: 1.467em;
		font-size: 4.69vw
	}
	h4 {
		font-size: 1.2em;
		font-size: 4.38vw
	}
	p, a, a>p, ul>li, ul>li>a, dl>dt, dl>dd, em {
		font-size: 4.06vw
	}
	.for-translate {
		-webkit-transform: translateX(65%);
		-moz-transform: translateX(65%);
		-ms-transform: translateX(65%);
		-o-transform: translateX(65%);
		transform: translateX(65%)
	}
	.testimonials {
		width: 100%;
		display: block;
		float: left;
		min-height: auto;
		max-height: 315px;
		overflow: hidden
	}
	.available-now span {
		margin: 0 0 10px
	}
	.footer-bg {
		padding: 5px 0
	}
	.user-profile>span {
		width: 90px;
		height: 90px
	}
	.content-holder {
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox
	}
	.left-menu-holder {
		width: 65%
	}
	.personal-info-form .form-group>label, form .form-group>label {
		font-size: 4.69vw
	}
}